[Desktop Entry]
Name=Dracula-debian
X-KDE-PluginInfo-Author=sandorex
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=rzhw3h@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Dracula-debian
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/sandorex/config/tree/master/kde-plasma/dracula-debian/Dracula-debian
X-KDE-ServiceTypes=Plasma/LookAndFeel
