# do not remove this
[user]

[alias]
    s = status
    # short status
    ss = status -sb
    d = diff
    ds = diff --staged
    l = log --oneline
    p = add --patch
    ac = "!git commit --message=\"#A $(hostname) ($(date +'%Y-%m-%dT%H:%M:%S%z'))\" --edit"

[push]
    default=tracking

[url "git@github.com:sandorex/"]
    insteadOf = https://github.com/sandorex/

