# do not remove this
[user]

[alias]
    s = status
    l = log --oneline
    ac = commit --allow-empty-message -m ""

[push]
    default=tracking

[url "git@github.com:sandorex/"]
    insteadOf = https://github.com/sandorex/

