themes {
    default {
        fg 1
        bg 0
        black 238
        red 196
        green 22
        yellow 3
        blue 39
        magenta 201
        cyan 159
        white 16
        orange 214
    }
}
