themes {
    darklight {
        // accent around actions like QUIT RESIZE ETC
        fg 250
        // session title, keybinding surrounding characters
        white 99

        bg 0
        // bar background color
        black 236

        red 9
        green 34
        yellow 11
        blue 39
        magenta 201
        cyan 159
        orange 208
    }
}

theme "darklight"

