[submodule "distrobox-ansible"]
	path = distrobox-ansible
	url = https://github.com/sandorex/distrobox-ansible
[submodule "roles/dotfiles/files/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = roles/dotfiles/files/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "roles/dotfiles/files/.emacs.d/plugins/kkp"]
	path = roles/dotfiles/files/.emacs.d/plugins/kkp
	url = https://github.com/benjaminor/kkp.git
