[submodule "zsh/zsh/plugins/ohmyzsh"]
	path = zsh/zsh/plugins/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
