* {
  font-family: FontAwesome, "BigBlueTerm437 Nerd Font Propo", "Liberation Sans", sans-serif;
  font-size: 9pt;
}

window#waybar {
  background-color: rgba(43, 48, 59, 1.0);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#temperature,
#tray,
#pulseaudio,
#idle_inhibitor {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#clock {
  background-color: #64727D;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

tooltip {
  background-color: rgba(43, 48, 59, 1.0);
}

tooltip label {
  color: white;
}

label:focus {
  background-color: #000000;
}

#network {
  padding: 0;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  color: #d36363;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

#custom-power {
  padding: 0;
  padding-right: 3px;
}

menu {
  background-color: rgba(43, 48, 59, 1.0);
  color: #ffffff;
}

#workspaces button {
  padding: 0 10px;
}

/* #workspaces button.active { */
  /* background-color: #64727D; */
/* } */

/* highlight main monitor workspace */
#workspaces button.hosting-monitor {
  color: #fb6afa;
  /* border-radius: 16px; */
}

/* highlight secondary monitor workspace */
/* #workspaces button:not(.hosting-monitor) { */
  /* color: red; */
/* } */
